{% extends 'admin/base.html.twig' %}

{% block title %}Edit Calendar{% endblock %}

{% block body %}
    <h1 class="mt-3">Modifier la reservation</h1>

    {{ include('admin/reservation/_form.html.twig')}}


{% endblock %}
