{% extends 'admin/base.html.twig' %}

{% block title %}Crée une réservation{% endblock %}

{% block body %}
    <h1 class="mt-3">Crée un nouvelle reservation</h1>

    {{ include('admin/reservation/_form.html.twig') }}

{% endblock %}
