{% extends 'base.html.twig' %}

{% block title %}Gite à louer{% endblock %}

{% block body %}
    <div>
        <h1 class="mt-5">Actualiter</h1>

        <div class="mt-3" style="text-align: center">
            <p>Notre service de location de gite vous acceuille 6mois par an, de <strong>Avril</strong> à
                <strong>Septembre</strong>
            </p>
            <p>Pour louer un gite, vous pouvre nous contacter au coordonnées suivantes</p>
            <p>Mail:
                <strong>
                    <a href="mailto:lalocationdegiteAillysurnoye@gmail.com">lalocationdegiteAillysurnoye@gmail.com</a>
                </strong>
            </p>
            <p>Téléphone:
                <strong>
                    <a href="tel:00-00-00-00-00">00.00.00.00.00</a>
                </strong>
            </p>
            <p>
                Toute reservation doit nous parvenir au plus tard 2 semaines avant la reservation
            </p>
        </div>
    </div>
    <div class="mb-5">
        <h1 class="mt-5">Présentation</h1>

        <div class="mt-3" style="text-align: center">
            <p>Nous sommes situer dans le bois d'Ailly sur Noye</p>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d20625.426929540117!2d2.3494656!3d49.7450876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1616916910403!5m2!1sfr!2sfr"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <p class="mt-2">
                Nous avons gite a vous proposer, 3 pour 4 personnes et 1 pour 6personnes au coeur de la foret. Nous
                avons
                également des parcourt d'accrobranche adulte comme enfant.
            </p>
        </div>
    </div>

{% endblock %}
