{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <h1 class="mt-5">Crée un nouveau gite</h1>

    {{ include('/admin/gite/_form.html.twig') }}

{% endblock %}
