{% extends 'admin/base.html.twig' %}

{% block title %}Crée un nouvelle article{% endblock %}

{% block body %}

    <h1 class="mt-5">Crée un nouvelle arcticle</h1>

    {{ include('/admin/blog/_form.html.twig') }}

{% endblock %}
