{% extends 'auth/email/_base_email.html.twig' %}
 {% block body_mail %}
     <tr>
         <td height="30" style="font-size: 30px; line-height: 30px"> &nbsp;</td>
     </tr>
     <tr>
         <td align="center"
             style="font-family: Helvetica, sans-serif; text-align: center; font-size: 40px; mso-line-height-rule: exactly; line-height: 28px">
             bonjour, vous avez oublier votre mot de passer merci de cliquer sur le boutons si-dessous !!
         </td>
     </tr>
     <tr>
         <td height="30" style="font-size: 30px; line-height: 30px"> &nbsp;</td>
     </tr>
     <tr>
         <td align="center"
             style="font-family: Helvetica, sans-serif; text-align: center;mso-line-height-rule: exactly; line-height: 28px">
             Pour valider votre compte merci de bien vouloir cliquer sur le bouton si-dessous
         </td>
     </tr>
     <tr>
         <td align="center">
             <a href="{{ absolute_url(path("app_reset_password", {"token" : token})) }}" target="_blank"
                style="font-size: 16px; font-family: Helvetica, sans-serif; color: #ffffff; text-decoration: none; border-radius: 3px; background-color: #035aa6; border-top: 12px solid #035aa6; border-bottom: 12px solid #035aa6; border-right: 18px solid #035aa6; border-left: 18px solid #035aa6; display: inline-block;">
                 Clique ici
             </a>
         </td>
     </tr>

 {% endblock %}